node_modules/
.DS_Store
npm-debug.log*
.env
**/.env
**/dist
**/.vite
.env.local
.env.development.local
.env.test.local
.env.production.local
logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
